.sec-home-balofun {
    padding-top: 12px;
}

.profilecomposer {
    background-color: #fff;
    border-radius: 14px;
    padding: .75rem 1.25rem;
    margin-bottom: 10px;
    .autoExpand {
        display: block;
        box-sizing: padding-box;
        overflow: hidden;
        width: 100%;
        font-size: 14px;
        border-radius: 6px;
        border: 0;
        &:focus {
            border: none;
            outline: none;
        }
        &::placeholder {
            font-size: 16px;
        }
    }
    .text-composer {
        padding-top: 10px;
        .uploadimg {
            margin-top: 2px;
            margin-left: 10px;
            width: 20px;
            height: 20px;
        }
    }
    .topic {
        display: flex;
        .title-topic {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            list-style: none;
            padding-left: 0;
            li {
                @media(max-width: 420px) {
                    font-size: 12px;
                }
                font-size: 16px;
                margin-right: 10px;
            }
        }
        .title-it3 {
            @media (max-width: 420px) {
                display: none;
            }
            margin-bottom: 0;
            font-size: 12px;
        }
    }
    .btn-up {
        @media (max-width: 420px) {
            margin-left: -28px;
        }
        background-color: #F89A35;
        color: #fff;
        padding: 5px 15px;
        border-radius: 20px;
    }
    .choose-topic {
        margin-top: 10px;
        .cdt-list-tab {
            span {
                font-size: 14px;
                line-height: 14px;
                color: #555;
                margin-right: 10px;
                display: inline-block;
                width: 82px;
            }
            .scrool-text {
                @media (max-width: 420px) {
                    margin-left: 0;
                }
                font-size: 11px;
                margin-left: -28px;
            }
            .catagory-slide {
                .owl-carousel {
                    margin-top: 4px;
                    .owl-item {
                        .item {
                            h4 {
                                @media (max-width: 420px) {
                                    font-size: 15px;
                                }
                                font-size: 16px;
                                font-weight: 400;
                                margin-bottom: 0;
                            }
                            img {
                                width: 90px;
                                height: 90px;
                                border-radius: 50%;
                                border: 2px solid #fff;
                                object-fit: cover;
                                margin: auto;
                                margin-bottom: 15px;
                            }
                        }
                        .item.active {
                            h4 {
                                color: #F89A35;
                            }
                        }
                    }
                }
            }
        }
    }
}

.div-topictheme {
    @media (max-width: 420px) {
        display: none;
    }
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    ul {
        list-style: none;
        padding-left: 0;
        li:first-child {
            font-size: 19px;
            font-weight: 900;
            border-bottom: 1px solid #000;
        }
        li {
            padding: 8px 0;
            font-size: 16px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}

.div-copyright {
    p {
        @media (max-width: 420px) {
            display: none;
        }
        margin-top: 10px;
        font-size: 14px;
    }
}

.div-trend {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    .title-trend {
        i {
            margin-right: 7px;
        }
        font-size: 21px;
        font-weight: bold;
    }
    .list-new-c {
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
            width: 100%;
            padding: 10px 0;
            .photo {
                width: 90px;
                height: auto;
                float: left;
                margin-right: 16px;
                border-radius: 12px;
            }
            .title {
                margin: 0;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #222;
                max-height: 60px !important;
                overflow: hidden !important;
            }
        }
    }
    .blog-list-group {
        width: 100%;
        display: inline-block;
        list-style: none;
        padding-left: 0;
        li {
            .item-new {
                width: 100%;
                float: left;
                padding: 10px 0;
                border-bottom: 1px solid #e1e1e1;
                .photo {
                    float: left;
                    position: relative;
                    img {
                        @media (max-width: 420px) {
                            height: 69px;
                            width: 116px;
                            object-fit: cover;
                            border-radius: 14px;
                        }
                        height: 60px;
                        width: 90px;
                        object-fit: cover;
                        border-radius: 14px;
                    }
                }
                .small {
                    margin-left: 100px;
                    @media (max-width: 420px) {
                        margin-left: 124px;
                    }
                    .title {
                        margin: 0;
                        font-size: 15px;
                        line-height: 20px;
                        color: #222;
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        li:last-child {
            .item-new {
                border-bottom: none;
            }
        }
    }
}

.consultants {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    @media (max-width: 420px) {
        padding: 10px 12px;
    }
    .consultants-slide {
        .item {
            border-radius: 14px;
            border: 1px solid #096642;
            .text-center {
                padding: 5px;
                margin-bottom: 10px;
                .rounded-circle {
                    @media (max-width: 420px) {
                        width: 100%;
                        height: 114px;
                        object-fit: cover;
                    }
                    width: 100%;
                    height: 143px;
                    object-fit: cover;
                }
                .name {
                    @media (max-width: 420px) {
                        font-size: 15px;
                    }
                    font-size: 16px;
                    margin-top: 10px;
                    font-weight: 600;
                }
                .position {
                    @media (max-width: 420px) {
                        font-size: 13px;
                    }
                    margin-bottom: 0;
                }
                .btn-follow {
                    background-color: #096642;
                    color: #fff;
                    padding: 4px 20px;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -40px;
            .owl-prev {
                font-size: 30px;
                &:hover {
                    background: none;
                    color: #096642;
                }
            }
            .owl-next {
                font-size: 30px;
                &:hover {
                    background: none;
                    color: #096642;
                }
            }
        }
    }
}

.card {
    border: none;
    border-radius: 14px;
    margin-bottom: 15px;
    .card-header:first-child {
        border-radius: 14px 14px 0 0;
    }
    .card-footer:last-child {
        border-radius: 0 0 14px 14px;
    }
    .card-header {
        .media {
            display: flex;
            align-items: flex-start;
            .avatar {
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                    position: relative;
                    display: inline-block;
                    order: 1px solid #d8e2ef;
                    object-fit: cover;
                }
            }
            .media-body {
                .name {
                    a {
                        color: #000;
                        font-weight: 600;
                    }
                }
                .hour {
                    font-size: 13px;
                    margin-top: -7px;
                }
            }
            .follow {
                margin-top: 9px;
                .btn-follow {
                    background-color: #096642;
                    color: #fff;
                    padding: 5px 20px;
                    border-radius: 20px;
                }
            }
        }
        .svg-inline--fa {
            display: inline-block;
            font-size: inherit;
            height: 1em;
            overflow: visible;
            vertical-align: -0.125em;
        }
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0;
        .mb-text {
            padding: 10px;
        }
        .text-share {
            h5 {
                font-size: 18px;
            }
            img {
                height: 1.5rem;
                width: 1.5rem;
                position: relative;
                display: inline-block;
                object-fit: cover;
            }
            p {
                color: #707070;
                margin-bottom: 0;
                span {
                    font-weight: 600;
                }
            }
        }
        .one-text {
            background: #F89A35;
            height: 300px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mb-img {
            .image-background {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .mb-titleblog {
            padding: 10px;
            .name-link {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 17px;
            }
            .title {
                font-size: 20px;
                color: #707070;
            }
            .description {
                color: #707070;
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
    .card-footer {
        .font-weight-semi-bold {
            justify-content: space-between;
        }
        .cmt-info {
            .avatar-xl {
                img {
                    height: 2rem;
                    width: 2rem;
                    object-fit: cover;
                }
            }
            .form-control {
                border-radius: 1.25rem;
            }
            .svg-inline--fa {
                display: inline-block;
                font-size: inherit;
                height: 1em;
                overflow: visible;
                vertical-align: -0.125em;
                color: #9da9bb;
            }
            textarea {
                &:focus {
                    box-shadow: none;
                    outline: 0;
                    border: 1px solid #ced4da;
                }
                &::placeholder {
                    @media (max-width: 420px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .border-200 {
            .font-weight-semi-bold {
                .col-auto {
                    .align-items-center {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}

.div-baner-right {
    img {
        height: 320px;
        width: 100%;
        object-fit: cover;
        border-radius: 14px;
        border: 2px solid #fff;
    }
}

.forum {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    h5 {
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            margin-top: 10px;
            border-bottom: 1px solid #ccc;
            .forum-info {
                h5 {
                    font-size: 17px;
                    font-weight: 600;
                }
                p {
                    color: #707070;
                    margin-bottom: 0;
                    img {
                        height: 1.5rem;
                        width: 1.5rem;
                        position: relative;
                        display: inline-block;
                        object-fit: cover;
                    }
                    span {
                        font-weight: 600;
                    }
                }
                .col-auto {
                    padding: 0;
                }
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }
}

.course {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    @media (max-width: 420px) {
        padding: 10px 12px;
    }
    .course-slide {
        .item {
            border-radius: 14px;
            border: 1px solid #096642;
            .text-left {
                margin-bottom: 10px;
                .img-rounded-circle {
                    width: 100%;
                    border-radius: 14px 14px 0 0;
                    height: 215px;
                    object-fit: cover;
                    @media (max-width: 420px) {
                        height: 130px;
                    }
                }
                .price-new {
                    background: #F89A35;
                    color: #fff;
                    padding: 2px 18px;
                    border-radius: 14px;
                    position: absolute;
                    margin-top: -60px;
                    margin-left: 116px;
                    @media (max-width: 420px) {
                        background: #F89A35;
                        color: #fff;
                        padding: 2px 12px;
                        border-radius: 14px;
                        position: absolute;
                        margin-top: -46px;
                        margin-left: 45px;
                        font-size: 12px;
                    }
                }
                .info {
                    padding: 5px 10px;
                    font-size: 15px;
                    p {
                        margin-bottom: 0;
                        span {
                            margin-left: 7px;
                        }
                    }
                    .service {
                        @media (max-width: 420px) {
                            font-size: 14px;
                        }
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .rate {
                        font-weight: 300;
                        i {
                            @media (max-width: 420px) {
                                font-size: 10px;
                            }
                            color: gold;
                        }
                    }
                    .student {
                        font-weight: 300;
                        font-size: 14px;
                        @media (max-width: 420px) {
                            display: none;
                        }
                    }
                    .price-old {
                        text-decoration: line-through;
                        font-weight: 300;
                        font-size: 14px;
                        span {
                            margin-left: 0!important;
                        }
                    }
                    .teacher {
                        font-weight: 300;
                        font-size: 14px;
                        @media (max-width: 420px) {
                            display: none;
                        }
                        span {
                            font-weight: 600;
                            color: #096642;
                        }
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -40px;
            .owl-prev {
                font-size: 30px;
                &:hover {
                    background: none;
                    color: #096642;
                }
            }
            .owl-next {
                font-size: 30px;
                &:hover {
                    background: none;
                    color: #096642;
                }
            }
        }
    }
}

.blog-share {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 10px;
    .blog-list-group {
        width: 100%;
        display: inline-block;
        list-style: none;
        padding-left: 0;
        li {
            .item-new {
                width: 100%;
                float: left;
                padding: 10px 0;
                border-bottom: 1px solid #e1e1e1;
                .photo {
                    float: left;
                    position: relative;
                    img {
                        @media (max-width: 420px) {
                            height: 69px;
                            width: 116px;
                            object-fit: cover;
                            border-radius: 14px;
                        }
                        height: 125px;
                        width: 208px;
                        object-fit: cover;
                        border-radius: 14px;
                    }
                }
                .small {
                    margin-left: 218px;
                    @media (max-width: 420px) {
                        margin-left: 124px;
                    }
                    .title {
                        margin: 0;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        color: #222;
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .description {
                        @media (max-width: 420px) {
                            display: none;
                        }
                        margin: 0;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: #222;
                        margin-bottom: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .date-source {
                        margin: 0;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #000;
                        .source {
                            font-weight: bold;
                            img {
                                height: 1.5rem;
                                width: 1.5rem;
                                position: relative;
                                display: inline-block;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        li:last-child {
            .item-new {
                border-bottom: none;
            }
        }
    }
}